.container {
  width: 100%;
  height: auto;
  max-width: 900px;
  text-align: start;
  margin: auto;
  /* margin-top: 1rem; */
  padding: 24px 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 16px rgba(30, 136, 229, 0.2);
}

.headerContainer {
  width: 100%;
  height: auto;
  max-width: 900px;
  text-align: start;
  margin: auto;
  /* margin-top: 1rem; */
}

.shadow {
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgba(30, 136, 229, 0.2);
}

.content {
  flex-direction: column;
  margin: auto;
  font-size: 17px;
  gap: 1rem;
  justify-content: center;
}

@media (width < 768px) {
  .container {
    width: 100%;
  }
}
